# ---------------------------
# Python
# ---------------------------
__pycache__/
*.pyc
*.pyo
*.pyd
*.env
.venv/
env/
venv/

# ---------------------------
# C++
# ---------------------------
*.out
*.o
*.obj
*.exe
*.log

# ---------------------------
# C#
# ---------------------------
bin/
obj/
.vs/
*.user
*.suo
*.dll
*.pdb

# ---------------------------
# Java
# ---------------------------
*.class
*.jar
*.war
*.ear
hs_err_pid*
target/
build/

# ---------------------------
# SQL / Database
# ---------------------------
*.db
*.sqlite
*.sql~
*.bak

# ---------------------------
# OS / System files
# ---------------------------
.DS_Store
Thumbs.db
desktop.ini

# ---------------------------
# Editor / IDE files
# ---------------------------
.vscode/
.idea/
*.swp
*.swo
